const config = {
  checkApi: {
    url: 'http://localhost:3000',
    apiKey: 'dev',
    // httpAuth: 'user:password'
  },
  checkWeb: {
    url: 'http://localhost:3333',
  },
  slack: {
    // Find the teamId in the HTML source of the Slack workspace page
    <teamId>: {
      verificationToken: 'Find it at https://api.slack.com/apps/AXXXXX/general',
      accessToken: 'Find it at https://api.slack.com/apps/AXXXXX/oauth',
    }
  },
  redisHost: 'without protocol or port, only the hostname',
  redisPrefix: 'check',
  awsRegion: 'us-east-1',
  googleImageSearchFunctionName: 'if not provided, defaults to "google-image-search"'
};
module.exports = config;
