const config = {
  appName: 'check',
  checkApi: {
    url: 'http://api:3000',
    apiKey: 'dev'
  },
  checkWeb: {
    url: 'http://localhost:3333',
  },
  slack: {
    <SLACK WORKSPACE ID>: {
      verificationToken: '<SLACK BOT VERIFICATION TOKEN>',
      accessToken: '<SLACK BOT ACCESS TOKEN>',
      legacyToken: '<SLACK BOT LEGACY TOKEN>',
      smoochBotId: '<SLACK BOT APP ID>',
    },
    <SLACK WORKSPACE ID>: {
      verificationToken: '<SLACK BOT VERIFICATION TOKEN>',
      accessToken: '<SLACK BOT ACCESS TOKEN>',
      legacyToken: '<SLACK BOT LEGACY TOKEN>',
      smoochBotId: '<SLACK BOT APP ID>',
    },
  },
  redisHost: 'localhost',
  redisPrefix: 'local',
  awsRegion: 'local'
};
module.exports = config;
